@import '../fonts.scss';
@import '../variant';
.discovery {
  background-color: #edf4fd ;
  &-card {
    & .img-badge {
      @include JustifyContent(center);
      @include Font(12px, 500);
      text-align: center;
      background-color: transparent;
      padding: 10px;
      background-size: 117px;
      background-position: center;
      background-repeat: no-repeat;
      width: 117px;
      height: 117px;
      position: absolute;
      top:25px;
      right:27px
    }
    margin-top: 40px;
    width: 100%;
    height: 400px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-left: 70px;
    border-radius: 16px;
    background-image: url('/images/roma.png'),
      radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6023984593837535) 100%
      );
    background-blend-mode: overlay;
    & section {
      width: 35%;
      & h2 {
        @include Font(24px, 700);
        color: white;
      }
      & p {
        @include Font(14px, 500);
        margin-top: 30px;
        color: white;
      }
      & button {
        margin-top: 7px;
        @include SmallButton(12px 26px, white, 40px, 1px solid #6F7E8F4D);
        @include Font(12px, 700);
      }
    }
  }
  & .footer {
    .slick-next:before,  .slick-prev:before  {
      content: '';
    }
      .custom-arrow::before {
          &.prev::before {
              left: -50px;
          }
          &.next::before {
              right: -50px;;
          }
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          img {
              width: 25px;
          }
      }
      margin-top: 20px;
      padding: 0 100px;
    & section {
      border: $brand-border;
      padding: 7px ;
      border-radius: 10px;
      margin: 0 5px;
      @include JustifyContent(space-between);
      & .left-side {
          width: 25%;
        img {
          width: 50px;
          border-radius: 5px;
          height: 50px;
          object-fit: cover;
        }
      }
      & .right-side {
          width: 75%;
          text-transform: capitalize;
        padding: 0 13px 0 10px;
        @include Font(14px, 600);
      }
    }
  }
}
